{% extends "base.html" %}
{% block content %}


{% for item in all_items %}
  <div class="item">
    {% if item.stock_quantity == 0 %}
    <div class="content-out">
    {% endif %}

    {% if item.stock_quantity == range(1,3) %}
    <div class="content-low">
    {% endif %}

      <a href="/items/{{item.id}}">
        {{ item.brand.name }}, 
        {{ item.name }}, 
        Stock: {{ item.stock_quantity }}
      </a>
    </div>
  </div>
{% endfor %}
<div>
  <p>
    <a href="/items/new">Add new item</a>
  </p>
</div>
{% endblock %}